/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);*/
html{
    background: linear-gradient(-50deg, #97c794, #12656c);
    background-size: cover;
    height: 100vh;
}
.navigation {/*-------------------------------------MENU*/
    z-index: 3;
    position: absolute;
    padding-bottom: 0em;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.navigation a {
    color: #f5f5f5;
    text-decoration: none;
    font-family: "Varela Round";
    font-size: 1em;
    margin: .7em;
    margin-left: 0;
    padding: 1em;
}
.navigation a:last-child {
    margin-right: 20em;
}
.navigation a:hover {
    background-color: #191919;
}
#name {
    color: #f5f5f5;
    font-weight: 600;
    margin-right: auto;
    margin-left: 20em;
}
.menu-fixed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    margin: 0;
    padding: 0;
}
.menu-fixed a {
    padding: .8em 1em 1em 1em;
    margin: 0;
}

.header{/*--------------------------------------------PORTOTIPO BRAZALETE*/
    margin:-1em -0.5em auto;
    position:relative;
    height:100vh;
    width:100vw;
}

.contenedor{/*-------------------------------------CONTENEDOR-BRAZALETE*/    
    font-size:10px;
    margin:0em auto;
    width:100vw;
    position: relative;
    transform: translateY(0%) translateX(0%);
}
.brazalete{/*----------------------------------------BRAZALETE*/
    position:relative;
    margin:0 auto;
    width:22.8em;
    padding:7.3em 0;
}
.pantalla{/*------------------------------------------PANTALLA*/
    position:relative;
    z-index:2;
    width:10em;    
    height:24.7em;
    background:#030303;
    border-radius:10em;
    box-shadow:
    inset 0 0 0 0.1em #030303, 
    inset 0 0 0.3em 0.3em #030303, 
    inset 0 0.4em 0.4em 0.5em #030303, 
    inset 0 -0.4em 0.2em 0.2em #030303,  
    inset 0 0 0 0.7em #fff,
    inset 0 0 0 1em #313131, 
    inset 3.5em -0.5em 2em -2em #a4a4a4, 
    inset -1.2em -0em 0.5em 0em #a4a4a4, 
    inset -0.4em -1.1em 0.5em 0em #a4a4a4;
}
.pantalla:before{
    content:'';
    position:absolute;
    top:0.9em;
    left:2.5em;
    right:2.5em;
    height:6%;
    background:
    linear-gradient(to bottom, 
    rgba(255,255,255,0.3) 1%,
    rgba(255,255,255,0.4) 41%,
    rgba(255,255,255,0.1) 100%);
    border-radius:10em 10em 11em 11em / 4em 4em 4em 4em;
}
.banda{/*-------------------------------------------CORREA*/
    position:absolute;
    left: 0.264em;
    z-index:1;
    width:9.5em;
    height:9em;
}
.banda.banda-top{
    top:2.9em;
}
.banda.banda-bottom{
    bottom:2.95em;
    transform: rotate(180deg);
}
.correa{
    position:absolute;
}
.correa:nth-child(1){
    bottom:-0.5em;
    left:0;
    width:100%;
    height:7.5em;
    background:linear-gradient(to top, #030303 1%,#030303 100%);
    border-radius: 15% 15% 40% 80% / 30% 40% 0% 0;
    transform: perspective(460px) scaleZ(1) rotateX(35deg);
    overflow:hidden;
}
.correa:nth-child(1):before{
    content:'';
    position:absolute;
    bottom:-1em;
    width:100%;
    height:5em;
    left:0;
    box-shadow: inset 0 -2.6em 1em -0.5em rgba(0, 0, 0, 0.3);
    transform: rotate(-4deg);
}

.sobre {/*------------------------------------------------------------SOBRE NOSOTROS*/
    margin:-1em -0.5em auto;
    position:relative;
    height:100vh;
    width:100vw;
  }